#overlaycategory {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  .addcategorybox {
      display: none;
      position: fixed;
      box-sizing: border-box;
      width: 600px; 
      top: 32%;
      padding: 40px;
      background-color: white;
      left: 35%;
      border-radius: 20px;
      z-index: 4;
  }

  .addcategorybox h1 {
      color: #34364A;
      font-size: 20px;
      font-weight: bold;
  }

  .addcategorybox h2 {
      color: #34364A;
      opacity: 60%;
      font-size: 15px;
  }

  .addcategorybox button {
    border: none;
    width: 70%;
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: -30px;
    /* right: 90px; */
  }

  .addcategorybox label {
      color: #34364A;
      font-size: 16px;
      font-weight: bold;
      margin-top: 20px;
      opacity: 80%;
  }

  .addcategorybox input {
    background-color: #E5E9F2;
    text-align: center;
    color: #34364A;
    opacity: 80%;
    border-radius: 30px;
    width: 330px;
    height: 30px;
    border: none;
    margin-left: 20px;
  }

/* EDIT */
#overlayeditcategory {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.editcategorybox {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.editcategorybox h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.editcategorybox h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.editcategorybox button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.editcategorybox label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.editcategorybox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}


#overlayviewcategory {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.viewcategorybox {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.viewcategorybox h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.viewcategorybox h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.viewcategorybox button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.viewcategorybox label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.viewcategorybox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}



/* Table */

  #overlaytable {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  .addtablebox {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.addtablebox h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.addtablebox h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.addtablebox button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.tableincomebox table 
{
    height: 250px;
}

.addtablebox label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    /* margin-top: 10px; */
    opacity: 80%;
}

.addtablebox input {
    background-color: #E5E9F2;
    text-align: center;
    color: #34364A;
    opacity: 80%;
    border-radius: 30px;
    width: 330px;
    height: 30px;
    border: none;
    margin-left: 20px;
}

.addtablebox select {
    background-color: #E5E9F2;
    text-align: center;
    color: #34364A;
    opacity: 80%;
    border-radius: 30px;
    width: 330px;
    height: 30px;
    border: none;
    margin-left: 20px;
}












/* Table */

#overlayviewtable {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.viewtablebox {
  display: none;
  position: fixed;
  box-sizing: border-box;
  width: 600px; 
  top: 32%;
  padding: 40px;
  background-color: white;
  left: 35%;
  border-radius: 20px;
  z-index: 4;
}

.viewtablebox h1 {
  color: #34364A;
  font-size: 20px;
  font-weight: bold;
}

.viewtablebox h2 {
  color: #34364A;
  opacity: 60%;
  font-size: 15px;
}

.viewtableincomebox table 
{
  height: 250px;
}

.viewtablebox label {
  color: #34364A;
  font-size: 16px;
  font-weight: bold;
  /* margin-top: 10px; */
  opacity: 80%;
}

.viewtablebox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}

.viewtablebox select {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}



#overlayedittable {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.edittablebox {
  display: none;
  position: fixed;
  box-sizing: border-box;
  width: 600px; 
  top: 32%;
  padding: 40px;
  background-color: white;
  left: 35%;
  border-radius: 20px;
  z-index: 4;
}

.edittablebox h1 {
  color: #34364A;
  font-size: 20px;
  font-weight: bold;
}

.edittablebox h2 {
  color: #34364A;
  opacity: 60%;
  font-size: 15px;
}

.edittablebox button {
border: none;
width: 70%;
border-radius: 20px;
position: relative;
top: 20px;
left: -30px;
/* right: 90px; */
}

.edittablebox label {
  color: #34364A;
  font-size: 16px;
  font-weight: bold;
  /* margin-top: 10px; */
  opacity: 80%;
}

.edittablebox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}

.edittablebox select {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}








#overlaypaidtable {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.paidtablebox {
  display: none;
  position: fixed;
  box-sizing: border-box;
  width: 600px; 
  top: 32%;
  padding: 40px;
  background-color: white;
  left: 35%;
  border-radius: 20px;
  z-index: 4;
}

.paidtablebox h1 {
  color: #34364A;
  font-size: 20px;
  font-weight: bold;
}

.paidtablebox h2 {
  color: #34364A;
  opacity: 60%;
  font-size: 15px;
}

.paidtablebox button {
border: none;
width: 70%;
border-radius: 20px;
position: relative;
top: 20px;
left: -30px;
/* right: 90px; */
}

.paidtablebox label {
  color: #34364A;
  font-size: 16px;
  font-weight: bold;
  /* margin-top: 10px; */
  opacity: 80%;
}

.paidtablebox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}

.paidtablebox select {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}












#overlayuser {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.adduserbox {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.adduserbox h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.adduserbox h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.adduserbox button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.adduserbox label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.adduserbox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}

















/* EDIT */
#overlayedituser {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.edituserbox {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.edituserbox h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.edituserbox h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.edituserbox button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.edituserbox label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.edituserbox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}





/* DELETE */
#overlaydeletecategory {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.deletecategorybox {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.deletecategorybox h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.deletecategorybox h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.deletecategorybox button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.deletecategorybox label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.deletecategorybox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}


/* DELETE */
#overlaydeletetable {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.deletetablebox {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.deletetablebox h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.deletetablebox h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.deletetablebox button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.deletetablebox label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.deletetablebox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}



















#overlaysum {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.sumbox {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.sumbox h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.sumbox h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.sumbox button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.sumbox label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.sumbox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}







#overlaysub {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.subbox {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.subbox h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.subbox h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.subbox button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.subbox label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.subbox input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}



#overlayaddaccount {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.addaccount {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.addaccount h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.addaccount h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.addaccount button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.addaccount label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.addaccount input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}


#overlayediteaccount {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.editaccount {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.editaccount h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.editaccount h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.editaccount button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.editaccount label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.editaccount input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}


















/* DELETE */
#overlaydeleteaccount {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.deleteaccount {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.deleteaccount h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.deleteaccount h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.deleteaccount button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.deleteaccount label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.deleteaccount input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}





/* DELETE */
#overlayclear {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.cleartable {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 600px; 
    top: 32%;
    padding: 40px;
    background-color: white;
    left: 35%;
    border-radius: 20px;
    z-index: 4;
}

.cleartable h1 {
    color: #34364A;
    font-size: 20px;
    font-weight: bold;
}

.cleartable h2 {
    color: #34364A;
    opacity: 60%;
    font-size: 15px;
}

.cleartable button {
  border: none;
  width: 70%;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: -30px;
  /* right: 90px; */
}

.cleartable label {
    color: #34364A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 80%;
}

.cleartable input {
  background-color: #E5E9F2;
  text-align: center;
  color: #34364A;
  opacity: 80%;
  border-radius: 30px;
  width: 330px;
  height: 30px;
  border: none;
  margin-left: 20px;
}